<div th:fragment="header">
<form th:action="@{/index}" th:method="post">
    <select class="form-control" id="period" name="period">
        <option th:each="period : ${periodList}"
                th:selected="${period.getRn()}==${currentDate}"
                th:value="${period}"
                th:text="${period}">
        </option>
    </select>
    <select class="form-control" id="podstation" name="podstation">
        <option value="">Подстанция..</option>
        <option th:each="podstation : ${podstations}"
                th:value="${podstation.getRn()}"
                th:text="${podstation}">
        </option>
    </select>
    <button type="submit">Выбор</button>
</form>
</div>