<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">-->
    <title>Бланк замеров</title>
    <style>
        table, th, td {
            border: 1px solid #000000;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<button class="btn btn-primary btn-sm shadow" type="button" onclick="goBack()" style="margin-top: 20px;margin-left: 20px;margin-bottom: 20px;"><i class="fa fa-chevron-left" style="margin-right: 5px;"></i>Назад</button>
<table style="margin-left: 10px;">
    <tr>
        <td colspan="10" style = "width:1300px" align="center"><span th:text="'Протокол осмотра ' + ${sPodstation.getPodstType()} + '-' + ${sPodstation.getNumStr()}"></span></td>
    <tr>
        <th:block th:each="transformator, tstat : ${sPodstation.getTransformators()}">
            <td colspan="5" align="center"><span th:text="${transformator.getNum()}"></span></td>
        </th:block>
    </tr>
    <tr>
        <td style="width: 400px">Наименование</td>
        <td>Ia</td>
        <td>Ib</td>
        <td>Ic</td>
        <td>Io</td>
        <td style="width: 400px">Наименование</td>
        <td>Ia</td>
        <td>Ib</td>
        <td>Ic</td>
        <td>Io</td>
    </tr>
    <th:block th:each="linename : ${mbr}">
    <tr>
        <td style="height: 30px;"><span th:text="${linename[0]}"></span> </td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"><span th:text="${linename[1]}"></span> </td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"></td>
        <td style="height: 30px;"></td>
    </tr>
    </th:block>
    <tr>
        <td style="height: 30px;"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="height: 30px;"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br>
<span style="margin-left: 50px;">Выполнил (Ф.И.О.) _________________________</span><span style="margin-left: 350px;">Дата и время _________________________</span>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>