<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <style>-->
    <!--        table, th, td {-->
    <!--            border: 1px solid #000000;-->
    <!--            border-collapse: collapse;-->
    <!--        }-->
    <!--    </style>-->
    <style>
        tr {
            height: 20px;
        }

        body {
            background: linear-gradient(#eee, #fff);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <meta charset="UTF-8">
    <title>Журнал нагрузок</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div th:replace="fragments/frheader :: headerv"></div>
<div align="center"><p style="font-weight:bold"
                       th:text="${sPodstation.podstType} + '-' + ${sPodstation.numStr} + ' ' + ${sPodstation.address}"></p>
</div>
<div th:replace="fragments/frpodstationshow :: stable"></div>
<script>
    function showHideLines(varId) {
        var x = document.getElementById(varId);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>