<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid #000000;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>Журнал нагрузок</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<form th:action="@{/streets}" method="GET" th:object="${streets}">
    <div class="form-group">

        Улица: <input list="streets" class="form-control" id="streetsselect" name="street">  </input>
        <datalist id="streets">
            <option th:each="street : ${streets}"
                    th:value = "${street.streetName} + ', ' + ${street.streetType}">
        </datalist>
        Номер дома: <input type="number" name="housenum">
        Корпус: <input type="text" name="letter">
        <button type="submit" th:name="action" th:value="searchByHouseNum">Поиск по адресу</button>
    </div>
    <div>
        <select class="form-control" id="type1" name="podstType">
            <option th:each="podstType : ${mds.podstTypes}"
                    th:value="${podstType}"
                    th:selected="${podstType}==${sPodstation.getPodstType()}"
                    th:text="${podstType}">
            </option>
        </select>
        <input type="number" name="podstNum"><button type="submit" th:name="action" th:value="searchByNum">Поиск по подстанции</button>
    </div>
</form>
</body>
</html>