<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Журнал нагрузок</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css"/>
</head>
<body>
<div class="row justify-content-center">
    <form th:action="@{/streets}" method="GET" th:object="${streets}">
        <div class="form-group">
            <p th:text="${selectedStreet}"></p>
            Улица: <input list="streets" class="form-control" id="streetsselect" name="street"> </input>
            <datalist id="streets">
                <option th:each="street : ${streets}"
                        th:selected="${street.streetName}==${selectedStreet}"
                        th:value="${street.streetName} + ', ' + ${street.streetType}">
                </option>
            </datalist>
            Номер дома: <input type="number" name="housenum">
            Корпус: <input type="text" name="letter">
            <button type="submit" th:name="action" th:value="searchByHouseNum">Поиск по адресу</button>
        </div>
        <div>
            <select class="form-control" id="type1" name="podstType">
                <option th:each="podstType : ${mds.podstTypes}"
                        th:value="${podstType}"
                        th:selected="${podstType}==${mds.sPodstation.getPodstType()}"
                        th:text="${podstType}">
                </option>
            </select>
            <input type="number" name="podstNum" th:value="${mds.sPodstation.getNum()}">
            <button type="submit" th:name="action" th:value="searchByNum">Поиск по подстанции</button>
        </div>
    </form>
    <form th:action="@{/show}" method="GET">
        <button type="submit" th:name="action" th:value="backfromstreets">Назад</button>
    </form>
</div>
<br>
<div class="row justify-content-center">
    <table class="table table-striped table-bordered table-hover table-sm" style="width: 50%">
        <tr>
            <th>Подстанция</th>
            <th>Трансформатор</th>
            <th>Фидер</th>
            <th>Улица</th>
            <th>Дом1</th>
            <th>Дом2</th>
        </tr>
        <tr th:each="houseSegment : ${houseSegmentList}">
            <td><p th:text="${houseSegment.getStrPodstation()}"></p></td>
            <td><p th:text="${houseSegment.getTrNum()}"></p></td>
            <td><p th:text="${houseSegment.getFider()}"></p></td>
            <td><p th:text="${houseSegment.getStreetType()} + ', '+ ${houseSegment.getStreetName()}"></p></td>
            <td><p th:text="${houseSegment.getHouse1()} + ' ' + ${houseSegment.getHouse1Building()}"></p></td>
            <td><p th:text="${houseSegment.getHouse2()} + ' ' + ${houseSegment.getHouse2Building()}"></p></td>
        </tr>
    </table>
</div>
</div>
</body>
</html>