<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Журнал нагрузок</title>
    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/resources/assets/fonts/fontawesome-all.min.css">
</head>
<body id="page-top">
<div id="wrapper">
    <nav th:replace="fragments/v2frnavleft :: navleft"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="fragments/v2frnavtop :: navtop"></nav>
            <div class="container-fluid">
                <div th:replace="fragments/v2frstreetsedit :: streetsedit"></div>
            </div>
        </div>
        <div th:replace="fragments/v2frfooter :: footer"></div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/resources/assets/js/jquery.min.js"></script>
<script src="/resources/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/resources/assets/js/chart.min.js"></script>
<script src="/resources/assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/resources/assets/js/theme.js"></script>
<script src="/resources/assets/js/showHideLines.js"></script>
</body>
</html>