<div th:fragment="headerv" class="d-flex p-1">
    <div class="container">
        <form th:action="@{/show}" th:method="GET">
            <div class="row justify-content-center my-auto">
                <input type="hidden" th:value="${mds.currentActivity}" th:name="currentActivity"/>
                <div th:object="${period}" class="col-2 p-1">
                    Период
                    <select th:onchange="this.form.submit()" class="form-control" id="period1" name="period">
                        <option th:each="period : ${mds.periodList}"
                                th:selected="${period.getRn()}==${mds.currentDate}"
                                th:value="${period.getRn()}"
                                th:text="${period}">
                        </option>
                    </select>
                </div>
                <div th:object="${podstation}" class="col-1 p-1">
                    Подстанция
                    <select th:onchange="this.form.submit()" class="form-control" id="podstation1" name="podstation">
                        <option th:each="podstation : ${mds.podstations}"
                                th:selected="${podstation.getRn()}==${mds.currentPodstation}"
                                th:value="${podstation.getRn()}"
                                th:text="${podstation}">
                        </option>
                    </select>
                </div>
                <div th:object="${podstType}" class="col-1 p-1">
                    Тип
                    <select class="form-control" id="type1" name="podstType">
                        <option th:each="podstType : ${mds.podstTypes}"
                                th:value="${podstType}"
                                th:selected="${podstType}==${sPodstation.getPodstType()}"
                                th:text="${podstType}">
                        </option>
                    </select>
                </div>
                <div class="col p-1">
                    Номер
                    <input type="number" class="form-control" th:value="${mds.podstationNum}" th:name="podstationNum"/>
                </div>
                <div class="col p-1 d-flex justify-content-center">
                    <button type="submit" th:name="action" th:value="find" class="button form-submit btn btn-success">
                        Найти
                    </button>
                </div>
                <div class="col p-1 d-flex justify-content-center">
                    <button type="submit" th:name="action" th:value="view" class="button form-submit btn btn-success">
                        Просмотр
                    </button>
                </div>
                <div class="col p-1 d-flex justify-content-center">
                    <button type="submit" th:name="action" th:value="editvalues"
                            class="button form-submit btn btn-warning">Ввод замеров
                    </button>
                </div>
                <div class="col p-1 d-flex justify-content-center">
                    <button type="submit" th:name="action" th:value="editpodstation"
                            class="button form-submit btn btn-warning">Редактор подстанции
                    </button>
                </div>
                <div class="col p-1 d-flex justify-content-center">
                    <button type="submit" th:name="action" th:value="streets" class="button form-submit btn btn-info">
                        Справочник адресов
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div style="color:red;font-weight:bold" th:text="${error}" th:if="${error}"></div>
</div>