<div th:fragment="stable">
    <div class="row justify-content-center">
    <form th:action="@{/addpodstation}" th:method="GET">
        <button type="submit" class="btn btn-success">Добавить подстанцию</button>
    </form>
    <form th:action="@{/edit}" th:method="POST" th:object="${sPodstation}">
        <span style="color:red;font-weight:bold" th:unless="${rightsMessage == 'Ok'}"><p th:text="${rightsMessage}"></p></span>
        <p style="font-weight:bold" th:text="*{podstType} + '-' + *{numStr}"></p> Адрес: <input type="text" th:field="*{address}">
        <button type="submit" th:name="action" th:value="'trans&add&' + ${sPodstation.getRn()}" class="btn btn-success">Добавить трансформатор</button>
        <button type="submit" th:name="action" th:value="streetsedit" class="btn btn-warning">Редактор улиц</button>
        <button type="submit" th:name="action" th:value="save" class="btn btn-primary">Сохранить</button>
        <input type="hidden" th:field="*{podstType}"></input>
        <input type="hidden" th:field="*{numStr}"></input>
        <input type="hidden" th:field="*{rn}"></input>
        <input type="hidden" th:field="*{trCount}">
        <th:block th:each="transformator, tstat : ${sPodstation.trList}">
            <div>
                <table th:onclick="'showHideLines(\'' + ${transformator.getRn()} + '\');'" class="table table-striped table-bordered table-hover text-nowrap" style="width: 50%">
                    <tr>
                        <th>Номер</th>
                        <th>Фидер</th>
                        <th>Мощность</th>
                    </tr>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].rn}"/>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].tpRn}"/>
                    <td><p th:text="${transformator.getNum()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].num}"/>
                    <td><input type="text" th:field="*{trList[__${tstat.index}__].fider}"/></td>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].power}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].linesCount}">
                    <td><button type="submit" th:name="action" th:value="'line&add&' + ${transformator.getRn()}+'-' + ${transformator.linesCount}" class="btn btn-success">Добавить линию</button>
                        <button type="submit" th:name="action" th:value="'trans&del&' + ${transformator.getRn()}" class="btn btn-danger">Удалить трансформатор</button></td>
                    </tr>
                </table>
            </div>
            <table th:id="${transformator.getRn()}" class="table table-striped table-bordered table-hover text-nowrap">
                <tr>
                    <th>Номер</th>
                    <th>Наименование</th>
                </tr>
                <tr th:each="line, lstat : ${transformator.getListLines()}">
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].rn}"></input>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].trRn}"></input>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].sectionNum}"></input>
                    <td><p th:text="${line.getNum()}"></p></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].num}"></input>
                    <td><input type="text" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].name}"></input></td>
                    <td><button type="submit" th:name="action" th:value="'line&up&' + ${line.getRn()}" title="Вверх" class="btn btn-secondary">&#8593</button>
                        <button type="submit" th:name="action" th:value="'line&down&' + ${line.getRn()}" title="Вниз" class="btn btn-secondary">&#8595</button>
                        <button type="submit" th:name="action" th:value="'line&del&' + ${line.getRn()}" title="Удалить" class="btn btn-danger">&#9746</button>
                    </td>
                </tr>
            </table>
        </th:block>
    </form>
        </div>
</div>