<div th:fragment="stable">
    <th:block th:each="transformator : ${mds.sPodstation.getTrList()}">
        <div class="row justify-content-center">
            <table th:onclick="'showHideLines(\'' + ${transformator.getRn()} + '\');'"
                   class="table table-striped table-bordered table-hover table-sm" style="width: 50%">
                <tr>
                    <th style="width: 5%">Номер</th>
                    <th style="width: 10%">Фидер</th>
                    <th style="width: 5%">Мощность</th>
                    <th style="width: 5%">U_A</th>
                    <th style="width: 5%">U_B</th>
                    <th style="width: 5%">U_C</th>
                    <th style="width: 5%">I_A</th>
                    <th style="width: 5%">I_B</th>
                    <th style="width: 5%">I_C</th>
                    <th style="width: 5%">I_N</th>
                    <th style="width: 5%">Дата</th>
                    <th style="width: 5%">Монтер</th>
                </tr>
                <td><p th:text="${transformator.getNum()}"/></td>
                <td><p th:text="${transformator.getFider()}"/></td>
                <td><p th:text="${transformator.getPower()}"/></td>
                <td><p th:text="${transformator.getuA()}"/></td>
                <td><p th:text="${transformator.getuB()}"/></td>
                <td><p th:text="${transformator.getuC()}"/></td>
                <td><p th:text="${transformator.getiA()}"/></td>
                <td><p th:text="${transformator.getiB()}"/></td>
                <td><p th:text="${transformator.getiC()}"/></td>
                <td><p th:text="${transformator.getiN()}"/></td>
                <td><p th:text="${transformator.getDateTime()}"/></td>
                <td><p th:text="${transformator.getMonter()}"/></td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
            <table th:id="${transformator.getRn()}" class="table table-striped table-bordered table-hover table-sm"
                   style="width: 50%">
                <tr>
                    <th style="width: 5%">Номер</th>
                    <th style="width: 30%">Наименование</th>
                    <th style="width: 5%">I A</th>
                    <th style="width: 5%">I B</th>
                    <th style="width: 5%">I C</th>
                    <th style="width: 5%">I O</th>
                    <th style="width: 5%">KA</th>
                </tr>
                <tr th:each="line : ${transformator.getListLines()}">
                    <td><span th:text="${line.getNum()}"></span></td>
                    <td><span th:text="${line.getName()}"></span></td>
                    <td><span th:text="${line.getiA()}"></span></td>
                    <td><span th:text="${line.getiB()}"></span></td>
                    <td><span th:text="${line.getiC()}"></span></td>
                    <td><span th:text="${line.getiO()}"></span></td>
                    <td><span th:text="${line.getkA()}"></span></td>
                </tr>
            </table>
        </div>
    </th:block>
</div>