<div th:fragment="stable">
    <div class="row justify-content-center">
    <form th:action="@{/editvalues}" th:method="POST" th:object="${sPodstation}">
        <div style="color:green;font-weight:bold" th:text="${successMessage}" th:if="${successMessage}"></div>
        <span style="color:red;font-weight:bold" th:unless="${rightsMessage == 'Ok'}"><p th:text="${rightsMessage}"></p></span>
        <button type="submit" th:name="action" th:value="save" class="btn btn-primary">Сохранить</button>
        <span style="font-weight:bold" th:text="*{podstType} + '-' + *{numStr} + ' ' + *{address}"></span>
        <input type="hidden" th:field="*{podstType}"></input>
        <input type="hidden" th:field="*{numStr}"></input>
        <input type="hidden" th:field="*{address}"></input>
        <input type="hidden" th:field="*{rn}"></input>
        <th:block th:each="transformator, tstat : ${sPodstation.trList}">
            <div class="col-6">
                <table th:onclick="'showHideLines(\'' + ${transformator.getRn()} + '\');'" class="table table-striped table-bordered table-hover text-nowrap" style="width: 50%">
                    <tr>
                        <th style="width: 5%">Номер</th>
                        <th style="width: 15%">Фидер</th>
                        <th style="width: 10%">Мощность</th>
                        <th style="width: 5%">U_A</th>
                        <th style="width: 5%">U_B</th>
                        <th style="width: 5%">U_C</th>
                        <th style="width: 5%">I_A</th>
                        <th style="width: 5%">I_B</th>
                        <th style="width: 5%">I_C</th>
                        <th style="width: 5%">I_N</th>
                        <th style="width: 10%">Дата</th>
                        <th style="width: 10%">Монтер</th>
                    </tr>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].rn}"/>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].tpRn}"/>
                    <td><p th:text="${transformator.getNum()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].num}"/>
                    <td><p th:text="${transformator.getFider()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].fider}"/>
                    <td><p th:text="${transformator.getPower()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].power}"/>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].uA}"/></td>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].uB}"/></td>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].uC}"/></td>
                    <td><p th:text="${transformator.getiA()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].iA}"/>
                    <td><p th:text="${transformator.getiB()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].iB}"/>
                    <td><p th:text="${transformator.getiC()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].iC}"/>
                    <td><p th:text="${transformator.getiN()}"/></td>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].iN}"/>
                    <input type="hidden" th:field="*{trList[__${tstat.index}__].linesCount}"/>
                    <td><input type ="datetime-local" th:field="*{trList[__${tstat.index}__].dateTime}"></td>
                    <td><input type="text" th:field="*{trList[__${tstat.index}__].monter}"></td>
                    </tr>
                </table>
            </div>
            <table th:id="${transformator.getRn()}" class="table table-striped table-bordered table-hover" style="width: 50%">
                <tr>
                    <th style="width: 5%">Номер</th>
                    <th style="width: 30%">Наименование</th>
                    <th style="width: 5%">I A</th>
                    <th style="width: 5%">I B</th>
                    <th style="width: 5%">I C</th>
                    <th style="width: 5%">I O</th>
                    <th style="width: 5%">KA</th>
                </tr>
                <tr th:each="line, lstat : ${transformator.getListLines()}">
                    <input type="hidden"
                           th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].rn}"></input>
                    <input type="hidden"
                           th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].trRn}"></input>
                    <input type="hidden"
                           th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].sectionNum}"></input>
                    <td><p th:text="${line.getNum()}"></p></td>
                    <input type="hidden"
                           th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].num}"></input>
                    <td><p th:text="${line.getName()}"></p></td>
                    <input type="hidden"
                           th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].name}"></input>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].iA}"/>
                    </td>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].iB}"/>
                    </td>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].iC}"/>
                    </td>
                    <td><input type="number" th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].iO}"/>
                    </td>
                    <td><select th:field="*{trList[__${tstat.index}__].listLines[__${lstat.index}__].kA}">
                        <option th:value = null th:text="--"></option>
                        <option th:value="'вкл.'" th:text="вкл."></option>
                        <option th:value="'откл.'" th:text="откл."></option>
                    </select></td>
                </tr>
            </table>
        </th:block>
    </form>
    </div>
</div>