<div th:fragment="streets">
    <div class="container-fluid">
                <form th:action="@{/streets}" method="GET" th:object="${streets}">
                    <div class="card shadow" style="max-width: 1100px;margin-right: auto;margin-left: auto;">
                        <div class="card-body">
                            <input list="streets" class="border rounded shadow custom-select" id="streetsselect"
                                   name="street" style="height: 34px;width: 300px;"></input>
                            <datalist id="streets" class="border rounded shadow custom-select"
                                      style="height: 34px;width: 0px;" hidden>
                                <option th:each="street : ${streets}"
                                        th:selected="${street.streetName}==${selectedStreet}"
                                        th:value="${street.streetName} + ', ' + ${street.streetType}">
                                </option>
                            </datalist>
                            <input
                                    class="border rounded shadow" type="number" name="housenum"
                                    placeholder="Номер дома.."
                                    style="height: 34px;width: 150px;margin-left: 5px;"><input
                                class="border rounded shadow"
                                type="text"
                                name="letter"
                                placeholder="Корпус.."
                                style="height: 34px;width: 150px;margin-left: 5px;">
                            <button class="btn btn-primary btn-sm shadow" type="submit"
                                    th:name="action" th:value="searchByHouseNum"
                                    style="margin-left: 40px;height: 34px;width: 100px;"><i class="fa fa-search-location" style="margin-right: 5px;"></i>Поиск
                            </button>
                        </div>
                    </div>
                </form>

        <div class="card shadow" style="max-width: 1100px;margin-right: auto;margin-left: auto;">
            <div class="card-body">
                <div class="table-responsive shadow" style="margin-top: 20px;">
                    <table class="table table-striped table-bordered table-hover table-sm dataTable my-0">
                        <tr>
                            <th>Подстанция</th>
                            <th>Трансформатор</th>
                            <th>Фидер</th>
                            <th>Улица</th>
                            <th>Дом1</th>
                            <th>Дом2</th>
                        </tr>
                        <tr th:each="houseSegment : ${houseSegmentList}">
                            <td><span th:text="${houseSegment.getStrPodstation()}"></span></td>
                            <td><span th:text="${houseSegment.getTrNum()}"></span></td>
                            <td><span th:text="${houseSegment.getFider()}"></span></td>
                            <td>
                                <span th:text="${houseSegment.getStreetType()} + ', '+ ${houseSegment.getStreetName()}"></span>
                            </td>
                            <td>
                                <span th:text="${houseSegment.getHouse1()} + ' ' + ${houseSegment.getHouse1Building()}"></span>
                            </td>
                            <td>
                                <span th:text="${houseSegment.getHouse2()} + ' ' + ${houseSegment.getHouse2Building()}"></span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>