<div th:fragment="show">
    <div class="container-fluid">
        <h4 class="text-dark mb-4 text-center">
            <p th:text="${sPodstation.podstType} + '-' + ${sPodstation.numStr} + ', ' + ${sPodstation.address}"></h4>
        <div class="card shadow">
            <th:block th:each="transformator : ${mds.sPodstation.getTrList()}">
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table table-striped table-bordered table-hover table-sm dataTable my-0"
                               th:onclick="'showHideLines(\'' + ${transformator.getRn()} + '\');'">
                            <tr>
                                <th>Номер</th>
                                <th>Фидер</th>
                                <th>Мощность</th>
                                <th>U_A</th>
                                <th>U_B</th>
                                <th>U_C</th>
                                <th>I_A</th>
                                <th>I_B</th>
                                <th>I_C</th>
                                <th>I_N</th>
                                <th>Дата</th>
                                <th>Монтер</th>
                            </tr>
                            <tr>
                            <td><span th:text="${transformator.getNum()}"/></span></td>
                            <td><span th:text="${transformator.getFider()}"/></span></td>
                            <td><span th:text="${transformator.getPower()}"/></span></td>
                            <td><span th:text="${transformator.getuA()}"/></span></td>
                            <td><span th:text="${transformator.getuB()}"/></span></td>
                            <td><span th:text="${transformator.getuC()}"/></span></td>
                            <td><span th:text="${transformator.getiA()}"/></span></td>
                            <td><span th:text="${transformator.getiB()}"/></span></td>
                            <td><span th:text="${transformator.getiC()}"/></span></td>
                            <td><span th:text="${transformator.getiN()}"/></span></td>
                            <td><span th:text="${transformator.getDateTime()}"/></span></td>
                            <td><span th:text="${transformator.getMonter()}"/></span></td>
                            </tr>
                        </table>
                        <table th:id="${transformator.getRn()}" class="table table-striped table-bordered table-hover table-sm dataTable my-0">
                            <tr>
                                <th>Номер</th>
                                <th>Наименование</th>
                                <th>I A</th>
                                <th>I B</th>
                                <th>I C</th>
                                <th>I O</th>
                                <th>KA</th>
                            </tr>
                            <tr th:each="line : ${transformator.getListLines()}">
                                <td><span th:text="${line.getNum()}"></span></td>
                                <td><span th:text="${line.getName()}"></span></td>
                                <td><span th:text="${line.getiA()}"></span></td>
                                <td><span th:text="${line.getiB()}"></span></td>
                                <td><span th:text="${line.getiC()}"></span></td>
                                <td><span th:text="${line.getiO()}"></span></td>
                                <td><span th:text="${line.getkA()}"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>